img{
    max-width: 100%;
    border-radius: 1px;

    #video {
        height:300px;
    
    }
    
}
.img-raised{
    box-shadow: $box-shadow-raised;
}


.carousel-item {
    // margin: 0 auto;
    // margin-left: 0 auto;
    // margin: 0 auto;
    // margin: 2% 10% 2% 12%;
    margin: auto !important;
    width: 60%;
}



#video-carousel-example {
    // margin: 1% 8% 5% 8%;
    // margin: 2%;
    .sr-only{
        color: black !important;
       
        
    }
}